body {
    background-color: rgb(207, 207, 207);
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    box-sizing: border-box;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    align-self: center;
    border-bottom: 1px solid black;
    padding: 10px;
    min-width: 50%;
    text-align: center;
}

.content {
    display: flex;
    flex-grow: 1;
}

.currentScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoreCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-height: 200px;
}

.main .card .rounded-corners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    background-color: darkgrey;
}

.main .card p {
    margin-top: 0px;
}

.optionList {
    list-style: none;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.card i, button i {
    width: 70px;
    height: 70px;
    padding: 5px;
    font-size: 75px;
}

.currentPick {
    display: flex;
    gap: 100px;
}

.option {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.option:hover {
    background-color: rgb(151, 151, 151);
}

.option:active {
    background-color: grey;
}

.rounded-corners {
    border-radius: 15px;
}

.main {
    align-self: center;
    justify-self: center;
    flex-grow: 1;
}

.highScore {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: darkgray;
    height: 50vh;
    padding-left: 16px;
    padding-right: 16px;
}

.highScore .card {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

#reset {
    border: none;
    background-color: inherit;
}

footer {
    text-align: center;
}

.rps-choices {
    display: flex;
    gap: 15px;
}

.hidden {
    display:none;
}