body {
    background-color: rgb(207, 207, 207);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currentScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoreCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    background-color: grey;
    border-radius: 15px;
}

.card p {
    margin-top: 0px;
}

.optionList {
    list-style: none;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

button i {
    width: 70px;
    height: 70px;
    padding: 5px;
    font-size: 75px;
}

.option {
    border-radius: 15px;
}